*{
  -webkit-print-color-adjust: exact;
}

#pageHeader{
    content: "commercial in confidence";
    position: running(pageHeader);
}

html {
    width: 100%;
    height: 100%;
    overflow: visible;
}

body {
    border: 0;
    float: none !important;
    overflow: visible;
    font-family: 'Droid Sans', sans-serif;
    margin: 0;
}

section{
  page-break-after: always !important;
}

header{
    background-color: #ECF0F1;
    width: 100%;
    margin: 0;
    padding: 5pt;
}

header h1{
    margin: 0;
}

footer{
    margin-top: 10%;
    text-align: center;
    color: #bdc3c7;
    bottom: 0;
}

h1{
    font-weight: normal;
    text-transform: uppercase;
    color: #1e1e1e;
    font-size: 21.6pt;
}


h2{
    font-size: 16.8pt;
    font-weight: normal;
    text-transform: uppercase;
    color: #00BAE9;
}

h3 {
    font-weight: normal;
    color: #1e1e1e;
    font-size: 12pt;
    border-bottom: 1pt solid #00BAE9;
    padding-bottom: 2px;
}

p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 10pt;
}

img{
    display: block;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table{
    color: #1e1e1e;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12pt;
    border-collapse: collapse;
}

thead{
    background-color: #00BAE9;
}

th{
    color: #f6f6f6;
    font-variant: small-caps;
    font-weight: normal; 
    background-color: #00BAE9;
}

th.col{
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

th.money{
    padding-left: 1em;
    text-align: right;
}

th.row{
    text-align: left;
    color: #1e1e1e;
    background-color:#ecf0f1;
}

td{
 vertical-align: middle;
 text-align: center;
}

td.money{
  text-align: right;
}
.quote-title-page table{
    width: 70%;
  margin-left: 15%;
  margin-right: 15%;  
  text-align: left;
  margin-top: 10%;
}

.quote-title-page td{
    vertical-align:text-top;
    text-align: left;
}

.quote-title-page h1{
    text-align: center;
}

img.big-logo {
 height: 150px;
}

li {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 10pt;
}

figcaption {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

object.logo{
    position:absolute;
    right: 5%;
    top: .3em;
    height: 21.6pt;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

a {
    color: #f5954f;
}

