<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/deskgen.css"/>
    <link rel="stylesheet" type="text/css" href="styles/print.css" media="print"/>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <h1>DeskGen Platform Release "Zebrafish"</h1>
        <object type="image/svg+xml" data="images/deskgen_logo.svg" class="logo">DTGLOGO</object>
        <br/>
        <span id="date-created">August 2015    </span>
        <span id="version">Version: 2015.08.0</span>
    </header>
    <main>
        {% include  mainDoc %}
    </main>
</body>
